<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>659630594018-k99btav99g6hoefg8l8ctk0ebvpmojsp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.659630594018-k99btav99g6hoefg8l8ctk0ebvpmojsp</string>
	<key>API_KEY</key>
	<string>AIzaSyDrV5SlssPUEox0NPodGDTXYilKd3jsyys</string>
	<key>GCM_SENDER_ID</key>
	<string>659630594018</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.personal.SocialMedia</string>
	<key>PROJECT_ID</key>
	<string>scrolly-d6880</string>
	<key>STORAGE_BUCKET</key>
	<string>scrolly-d6880.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:659630594018:ios:4f5c8131bcb3d58fb64bbb</string>
</dict>
</plist>